body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
  }

#heading{
  font-family: 'Times New Roman', Times, serif;
  font-size: 120%;
  background-color: yellow;
}

#sidebar{ 
  font-family: 'Times New Roman', Times, serif;
  background-color: blue;
  width:200px;
  color: #FCF7F8;
}



footer {
  background-color: yellow;
  text-align: center;
}
 